.icon{
  transition:0.2s;
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.3);
}

a{
  color:white;
}

/* media query */
@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) {
  .name{
    font-size: 25px;
  }

  .contact{
    font-size: 15px;
  }

}
 
@media all and (max-width: 480px) { 
  .name{
    font-size: 20px;
    text-align: center;
  }
  .contact{
    font-size: 10px;
    text-align: center;
  }

  .icons{
    gap:10px;
  }
}