.container5{
  position: relative;
  background-color: #F9F9F9;
}

.wordSpace{
  word-spacing: 3px;
}

.cards{
  position: relative;
  z-index: 12;
  margin-bottom: 100px;
}

.card{
  position: relative;
  background-image: linear-gradient(to top,#D2042D 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  transition: 0.3s;
  border: none;
  border-radius: none;
  z-index: 12;
  width: 18rem;
}

.projectsHead{
  margin-top: 100px;
}

.text{
  font-size: 20px;
}

.borderLeft::after{
  content:"";
  position: absolute;
  display: block;
  width:0%;
  height: 22%;
  border-left: solid 3px #D2042D;
  top: 0;
  left: 0;
}

.borderTop::before{
  content:"";
  position: absolute;
  display: block;
  width:30%;
  height: 0%;
  border-top:solid 3px #D2042D;
  top: 0;
  right: 200px;
}

.button{
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: solid 2px #D2042D;
  }

.button:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(13, 13, 13, 0.925);
  transform: translateY(-7px);
  color: black;
}

.procard{
  box-shadow: 0px 15px 20px rgba(13, 13, 13, 0.925);
}

.procard:hover{
  background-position: 0% 100%;
  color: white;
}

.procard:hover .button{
  color: black;
  box-shadow: 1px 1px 1px 5px rgba(245, 241, 241, 0.23);
  background-color: white;
  border: 2px solid #D2042D;
}

/* media query */
@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  /* .container4::after{
    top: 85%;
    left: -6.5px;
    width: 101.4%;
  } */
 }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  /* .container4::after{
    top: 85%;
    left: -6.5px;
    width: 101.4%;
  } */
  
}
 
@media all and (max-width: 480px) {

  
  /* .container4::after{
    top: 90%;
    left: -6.5px;
    width: 101.4%;
  } */

  /* .projectsHead{
    margin-top: 200px;
  } */
  
 }