*{
  margin: 0;
  padding: 0;

}


/* Nav Bar */
.navbar{
  background-color: #020202;
  position: fixed;
  z-index: 20;
  width: 100%;
}

.navBrand{
  font-family: 'Dancing Script', 'cursive';
}

.navLink:hover{
    color: #D2042D;
}

.hamIcons{
  display: none;
  cursor: pointer;
}

.miniMenu{
  position: fixed;
  top: 70px;
  transition: 0.4s;
  z-index: 21;
}

.miniNavLink{
  background-color: black;
  text-decoration: none;
  color:black;
  color: white;
}

.miniNavLink:hover{
  border-bottom: solid 1px white;
  color: #D2042D;
}

.nav:hover:nth-last-child(){
  border-bottom: black;
}


.translate{
  transform: translateX(5000px);
}

.translateback{
  transform: translateX(0px);
}

/* Home section */
.home{
  background-color: #D2042D;
  min-height: 700px;
}

.header{
  letter-spacing: 3px;
  font-size: 3.5rem;
}

.container{
  min-width: 50%;
}

.btn1 {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btn1:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(13, 13, 13, 0.925);
  color: #fff;
  transform: translateY(-7px);
}

/* About me section */
.about{
  position: relative;
  background-color: #F9F9F9;
  min-height: 600px;
}

.aboutMe{
  margin-bottom: 100px;
  width: 50%;
  padding: 10px;
  margin-top: 100px;
}

.aboutHead{
  position: relative;
  z-index: 10;
}
.aboutPara{
  position: relative;
  z-index: 10;
  word-spacing: 5px;
  font-size: 20px;
}

.imgDiv{
  border-left: #D2042D solid 2px;
  position: relative;
}

.image{
  position: relative;
  width : 70%;
  height : auto;
  transition: 0.7s;
  box-shadow: 0px 15px 20px rgba(13, 13, 13, 0.925);
  padding: 20px;
}

.image::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  border-bottom: #D2042D solid 10px;
}

.image:hover{
  border-bottom: #D2042D solid 3px;
}
/* media query */

@media all and (min-width: 1024px) {
  .image{
    margin: auto;
  }
 }
 
@media all and (min-width: 950px) and (max-width: 1024px) { 
  .navLink{
    display: none;
  }

  .hamIcons{
    display: block;
  }

  .about{
    flex-direction: column;
  }

  .aboutMe{
    margin-top: 100px;
    padding-right: 50px;
    width: 90%;
    margin-bottom: 0px;
    border-bottom: #D2042D solid 2px;
  }

  .image{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
  }

  .imgDiv{
    border-left: none;
  }

}
 
@media all and (min-width: 480px) and (max-width: 950px) { 
  .navLink{
    display: none;
  }

  .hamIcons{
    display: block;
  }

.about{
  min-height: 850px;
  flex-direction: column;
  gap: 5px;
}

    .aboutMe{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 100px;
    padding-right: 50px;
    width: 90%;
    border-bottom: #D2042D solid 2px;
  }

  .image{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
  }


  .imgDiv{
    border-left: none;
  }
  
}

 
@media all and (max-width: 480px) {
  .navLink{
    display: none;
  }

  .hamIcons{
    display: block;
  }

  .mini-header{
    font-size: 10px;
  }

  .aboutMe{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 100px;
    padding-right: 50px;
    width: 80%;
    border-bottom: #D2042D solid 2px;
  }
  .about{
    min-height: 900px;
    flex-direction: column;
    gap: 5px;
  }

  .image{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
  }

  .imgDiv{
    border-left: none;
  }
 }

 @media all and (max-width: 390px){

.about{
  flex-direction: column;
  gap: 5px;
}

  .aboutMe{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 100px;
    width: 90%;
    border-bottom: #D2042D solid 2px;
  }

  .image{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
  }

  .imgDiv{
    border-left: none;
  }

 }
